/** main styling
color palette-
              #F8EFE9 - lightest cream
              #F2DDC9 - cream
              #AB6113 - orange
              #7D2F0B - red
              #33291A - brown
**/
p {
  font-family: "gill-sans", sans-serif;
  font-style: normal;
  font-weight: 100;
}
h1,h2,h3 {
  font-family: "big calson", serif;
  font-style: normal;
  font-weight: 400;
}
body {
  background-color: #F8EFE9;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #F8EFE9;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin-top: none;
  box-shadow: 0 5px 5px #33291A;
  line-height: 2em;
}

li a {
  display: block;
  color: #33291A;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "bilo", sans-serif;
  font-style: normal;
  font-weight: 100;
}
li a:hover {
  background-color: #33291A;
  color:   #F8EFE9;
}
.logo
{
  width: 100%;
}
.home {
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.quote {
  font-family: "big calson", serif;
  font-size: 2em;
  color: #33291A;
  padding-left: 30px;
  padding-top: 20px;
  background-color: #F2DDC9;
  grid-column: 2/4;
  grid-row: 2/3;
  margin: 10px 10px;
}
.ginny {
  padding-left: 300px;
  color:   #AB6113;
}
.quote-name {
  box-shadow: 10px 10px #7D2F0B;
  background-color: #F2DDC9;
}
#q1 {
  grid-column:2/3;
  grid-row: 2/3;
  background-color: #F2DDC9;
    box-shadow: 10px 10px #7D2F0B;
    margin: 10px 10px;
}
#q2 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #F2DDC9;
  box-shadow: 10px 10px #7D2F0B;
  margin: 10px 10px;
}
footer {
  grid-column: 2/5;
  grid-row: 4/5;
}
/* footer styling */
footer {
  background-color: #AB6113;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
}
.contact {
  grid-column: 2/3;
}
.about {
  grid-column: 3/4;
}
.socials {
  grid-column: 4/5;
}
.contact,.socials {
  list-style: none;
  color: #33291A ;
}
.about {
  color: #33291A;
  text-decoration: none;
  font-family: gill sans, sans-serif;
  padding-top: 60px;
  padding-left: 25px;
}
.about:hover{
  background-color: #33291A;
  color:   #F8EFE9;
}
.contact {
  font-family: gill sans, sans-serif;
  line-height: 2em;
}
/* BLANK styling */
